extends baseEmail

block content
  p Dear User,
  p We received a request to reset your password. If you didn't make this request, you can safely ignore this email.
  p To reset your password, please use the following Link to continue:
  p #{url}
    
  p This Url is valid for 20 minute. If you have any questions or need further assistance, please don't hesitate to reach out to us at
    a(href='') info@support.com
