extends baseEmail

block content
  p Dear #{firstName},
  p Welcome to Access! We're glad to have you onboard.

  p To complete your registration and unlock these benefits, please find verification Link below:
  p #{url}

  //- p If you have any questions or need further assistance, please don't hesitate to reach out to us at 
  //- a(href='mailto:info@Eduwallet.com.ng') info@eduwallet.com.ng

  p We look forward to welcoming you to building a successful collaboration together.
